<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form application</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;margin-bottom:1em;">Sign In</h1>
        <form action="/login" method="POST">
            <div class="input-container">
                <label for="uid">Username</label>
                <input name="Username" class="form-input" type="text" id="uid">
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" name="password" class="form-input" type="password">
            </div>
            <button class="submit-btn" type="submit">Log In</button>
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
    </div>
</body>
</html>